.countdown {
  max-width: 300px;
  margin: 0 auto 20px auto;
  color: white;
  text-align: center;
  &_dark {
    color: black;
  }
  h1 {
    font-weight: 300;
    font-size: 20px;
    margin: 0 0 15px 0;
  }
  h2 {
    font-weight: 400;
    margin: 0 0 10px 0;
    font-size: 15px;
  }
  &__wrap {
    display: flex;
    font-size: 25px;
    justify-content: center;
    color: $orange;
    div {
      margin: 0 5px;
    }
    small, span {
      display: block;
    }
    span {
      background: rgba(#000000, 0.5);
      padding: 1px 4px;
      border-radius: 4px;
      margin-bottom: 2px;
      .countdown_dark & {
        background: black;
      }
    }
    small {
      font-size: 0.5em;
      //opacity: 0.6;
    }
  }
}
