.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(black, 0.5);
  z-index: 2;
  &__box {
    position: fixed;
    width: 100%;
    max-width: 768px;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background: white;
    max-height: 100%;
    overflow: auto;
    @media (max-width: 767px) {
      left: 0;
      transform: translateY(-50%);
    }
  }
  &__photo {
    height: 450px;
    width: 100%;
    background-position: center;
    background-size: cover;
    position: relative;
    &_horizontal {
      @media (max-width: 767px) {
        height: 50vw;
      }
    }
  }
  &__close {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    font-size: 40px;
    width: 40px;
    line-height: 38px;
    text-align: center;
    font-weight: 300;
    cursor: pointer;
    @media (max-width: 767px) {
      line-height: 33px;
    }
  }
  h3 {
    text-align: center;
    border-bottom: 1px solid $orange;
    background: white;
    position: sticky;
    padding: 10px;
    font-size: 20px;
    margin: 0;
    top: 0;
    left: 0;
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  iframe {
    width: 100%;
    display: block;
    height: 432px;
  }
  &__prev, &__next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    user-select: none;
    background: rgba(white, 0.3);
    padding: 3px;
    border-radius: 3px;
    svg {
      display: block;
    }
  }
  &__prev {
    left: 10px;
    @media (max-width: 767px) {
      left: 5px;
    }
  }
  &__next {
    right: 10px;
    @media (max-width: 767px) {
      right: 5px;
    }
  }
  &__info {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 5px 10px;
    background: white;
    max-width: 200px;
    &_right {
      left: auto;
      right: 0;
    }
    p {
      margin: 0;
      font-size: 14px;
      &:not(:last-child) {
        margin-bottom: 3px;
      }
    }
  }
  &__body {
    padding: 20px;
    p, > div {
      margin: 0 0 20px 0;
    }
    > div {
      > ul {
        list-style: none;
        column-count: 4;
        margin: 10px 0;
        padding: 0;
        font-size: 12px;
        display: inline-block;
      }
    }
    h4 {
      margin: 0 0 10px 0;
      color: $orange;
    }
  }
}
