.table {
  font-size: 14px;
  max-width: 800px;
  margin: 0 auto;
  &__item {
    margin: 5px 0;
    border: 1px solid $orange;
    border-radius: 10px;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 30px;
    @media (max-width: 767px) {
      gap: 10px;
      padding: 5px 10px;
      border-radius: 5px;
    }
  }
}
.row {
  position: relative;
  &_hidden {
    display: none;
  }
  &_new, &_out {
    &:after {
      position: absolute;
      content: '';
      top: 50%;
      right: 15px;
      width: 12px;
      height: 12px;
      margin-top: -6px;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      @media (max-width: 767px) {
        top: -4px;
        right: -4px;
        margin: 0;
      }
    }
  }
  &_out {
    background: rgba(red, 0.1);
    &:after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M0 9h24v6h-24z' fill='red'/%3E%3C/svg%3E");
    }
  }
  &_new {
    background: rgba(green, 0.1);
    &:after {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M24 9h-9v-9h-6v9h-9v6h9v9h6v-9h9z' fill='green'/%3E%3C/svg%3E");
    }
  }
  &__points {
    font-weight: 700;
  }
  &__position {
    width: 14px;
    font-size: 14px;
    font-weight: 700;
    color: rgba(black, 0.6);
  }
  &__number {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid red;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    color: red;
    line-height: 26px;
    font-weight: 700;
    flex-shrink: 0;
  }
  &__name {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width: 767px) {
      width: 120px;
      flex-grow: 0;
    }
    h2 {
      display: inline-block;
      margin: 0 10px 0 0;
      font-size: 16px;
      @media (max-width: 767px) {
        margin: 0 5px 0 0;
        font-size: 14px;
      }
    }
    &_team {
      @media (max-width: 767px) {
        width: 70px;
      }
    }
  }
  &__country {
    flex: 1 1 0;
    font-size: 20px;
    span {
      font-size: 14px;
      vertical-align: middle;
    }
    @media (max-width: 767px) {
      flex-grow: 0;
      span {
        display: none;
      }
    }
  }
  &__team {
    flex: 1 1 0;
    &_small {
      @media (max-width: 767px) {
        font-size: 12px;
      }
    }
  }
  &__note {
    margin: 0;
    color: $orange;
    font-weight: 600;
    font-size: 10px;
  }
  &__logo {
    height: 30px;
    width: 100px;
    text-align: center;
    @media (max-width: 767px) {
      width: 50px;
      height: 25px;
    }
    img {
      height: 100%;
      max-width: 100%;
      object-fit: contain;
    }
  }
}
